global: {}

argocd-config:
  repoUrl: "https://github.com/toolkit-demo/gitops"

  project: toolkit-apps

  applicationTargets:
    - targetRevision: test
      targetNamespace: tk-demo-test
      applications:
        - name: tk-go
        - name: tk-go-2
